## **결측값 처리**

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5, 3),
                  columns=['C1', 'C2', 'C3'])

df.loc[0, 'C1'] = np.nan
df.loc[1, 'C1'] = np.nan
df.loc[1, 'C3'] = np.nan
df.loc[2, 'C2'] = np.nan
df.loc[3, 'C2'] = np.nan
df.loc[4, 'C3'] = np.nan

In [4]:
df

         C1        C2        C3
0       NaN  0.573094  1.476842
1       NaN  1.595736       NaN
2 -0.546947       NaN  0.575208
3 -0.510429       NaN  0.476988
4 -1.277633  1.261253       NaN

## **1. 결측값을 특정 값으로 채우기**

In [5]:
df_0 = df.fillna(0)
df_0

         C1        C2        C3
0  0.000000  0.573094  1.476842
1  0.000000  1.595736  0.000000
2 -0.546947  0.000000  0.575208
3 -0.510429  0.000000  0.476988
4 -1.277633  1.261253  0.000000

## **2. 결측값을 앞 방향 혹은 뒷 방향으로 채우기**

In [7]:
# 앞의 값으로 결측값 채우기 ffill
df_f = df.fillna(method='ffill') 
df_f

         C1        C2        C3
0       NaN  0.573094  1.476842
1       NaN  1.595736  1.476842
2 -0.546947  1.595736  0.575208
3 -0.510429  1.595736  0.476988
4 -1.277633  1.261253  0.476988

In [8]:
# 뒤의 값으로 결측값 채우기 bfill
df_b = df.fillna(method='bfill')
df_b

         C1        C2        C3
0 -0.546947  0.573094  1.476842
1 -0.546947  1.595736  0.575208
2 -0.546947  1.261253  0.575208
3 -0.510429  1.261253  0.476988
4 -1.277633  1.261253       NaN

## **3. 결측값을 변수별 평균으로 대체하기**

In [9]:
df_m = df.fillna(df.mean())
df_m

         C1        C2        C3
0 -0.778336  0.573094  1.476842
1 -0.778336  1.595736  0.843013
2 -0.546947  1.143361  0.575208
3 -0.510429  1.143361  0.476988
4 -1.277633  1.261253  0.843013